.App {
  text-align: center;
  display: grid;
}

.App-header {
  background: var(--Main-Green, #83C082);
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  align-self: stretch;
  font-size: calc(2vmin);
  color: black;
  font-family: 'IBM Plex Serif', serif;
}

.box {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}