.App {
  text-align: center;
  display: grid;

}

.App-header {
  background-color: #83C082;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(2vmin);
  color: black;
  font-family: 'IBM Plex Serif', serif;
}

.command {
  border-radius: 5%;
  padding: 3%;
  margin: 2%;
}

.box {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}